@import "../../../_css/common";

.form {
  width: 100%;
  margin-bottom: var(--base);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
  align-items: flex-start;
  font-weight: bold;

}

.submit {
  width: 100%;
}

.message {
  margin-bottom: var(--base);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
